h3 span {
    font-size: 16px;
}

.doc p {
    font-size: 14px;
    margin-top: 24px;
}

.api-cate {
    margin-top: 20px;
    padding: 0px;
}

.api-cate li {
    list-style-type: none;
    border-top: 1px solid #DDDDDD;
    padding: 12px 0px 12px 15px;
    line-height: normal;
    cursor: pointer;
}

.cate-node {
    position: relative;
}

.cate-title {
    display: inline-block;
    max-width: 210px;
    overflow: hidden;
}

.cate-icon {
    position: absolute;
    right: 15px;
    top: 16px;
}

.apis {
    padding: 0px;
}

.apis li {
    border: none;
    list-style-type: none;
    padding: 8px 0px 8px 8px;
}

.apis li.active {
    color: #08C;
}

.edit-entrance {
    margin-top: 20px;
}

.create-doc {
    margin-bottom: 24px;
}

.row-form {
    margin-top: 16px;
}
.row-form table {
    margin-top: 8px;
    margin-bottom: 0px;
}

.field-cancel {
    width: 30px;
    text-align: center;
}
.field-cancel a {
    color: #101010;
}
.field-name input {
    min-width: 150px;
    width: 185px;
}
.field-type select {
    min-width: 60px;
    width: 85px;
    height: 26px;
}
.field-transport {
    text-align: center;
}
.field-default input {
    width: 130px;
}
.field-description input {
    min-width: 150px;
    width: 300px;
}
.return-field-name input {
    min-width: 150px;
    width: 275px;
}
.return-field-type select {
    min-width: 60px;
    width: 90px;
    height: 26px;
}
.return-field-description input {
    min-width: 150px;
    width: 400px;
}