h3 span {
    font-size: 16px;
}

.doc p {
    font-size: 14px;
    margin-top: 24px;
}

.project-name {
    margin-top: 0px;
    margin-bottom: 0px;
}
.project-name a {
    color: #777777
}
.project-name a:hover {
    color: #777777
}

.api-cate {
    margin-top: 0px;
    padding: 0px;
}

.api-cate li {
    list-style-type: none;
    border-bottom: 1px solid #DDDDDD;
    padding: 12px 0px 12px 24px;
    line-height: normal;
}
.api-cate li:last-child {
    border: none;
}

.dropdown-menu li {
    border: none;
    padding: 0px;
    cursor: none;
}

.cate-node {
    position: relative;
}

.cate-title {
    max-width: 195px;
    white-space: nowrap;
    overflow: hidden;
}

.cate-icon {
    position: absolute;
    right: 24px;
    top: 12px;
}
.cate-icon a {
    color: #888888; 
}
.cate-icon a:hover {
    text-decoration-line: none;
}

.apis {
    padding: 0px;
}

.apis li {
    border: none;
    list-style-type: none;
    padding: 8px 0px 8px 8px;
    max-width: 230px;
    white-space: nowrap;
    overflow: hidden;
}

.apis li.active {
    color: #08C;
}

.apis li a {
    color: #101010;
}

.apis li a:hover {
    color: #08C;
    text-decoration-line: none;
}

.edit-entrance {
    margin-top: 20px;
}

.create-doc {
    margin-bottom: 24px;
}

.row-form {
    margin-top: 16px;
}
.row-form table {
    margin-top: 8px;
    margin-bottom: 0px;
}

.field-cancel {
    width: 30px;
    text-align: center;
}
.field-cancel a {
    color: #101010;
}
.field-name input {
    min-width: 150px;
    width: 150px;
}
.field-type select {
    min-width: 60px;
    width: 85px;
    height: 26px;
}
.field-transport {
    text-align: center;
}
.field-default input {
    width: 110px;
}
.field-description input {
    min-width: 150px;
    width: 260px;
}
.return-field-name input {
    min-width: 150px;
    width: 230px;
}
.return-field-type select {
    min-width: 60px;
    width: 90px;
    height: 26px;
}
.return-field-description input {
    min-width: 150px;
    width: 350px;
}

.body-data-type {
    padding-top: 15px;
    padding-bottom: 5px;
}